* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
}

/* Navbar styles */

nav {
    color: #F9FAF8;
    background-color: #1F2937;

    padding: 25px 150px;
    
    display: flex;
    justify-content: space-between;

}

nav ul {
    list-style-type: none;

    display: flex;
    align-items: center;
    gap: 16px;
}

nav a {
    color: #E5E7EB;

    text-decoration: none;
}

nav h1 {
    font-size: 24px;
}
